<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Erde Vacation Planner"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.erde_vacation_planner"
        tools:targetApi="31">
        <!-- All activities (minus login page) are given a parent activity to implement android's native back button for smooth navigation. -->
        <activity
            android:name=".UI.Registration"
            android:exported="false"
            android:parentActivityName=".UI.Login" />
        <activity
            android:name=".UI.Login"
            android:exported="true"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".UI.MyReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".UI.ExcursionDetails"
            android:exported="false"
            android:label="Excursion Details"
            android:parentActivityName=".UI.VacationDetails" />
        <activity
            android:name=".UI.VacationDetails"
            android:exported="false"
            android:label="Vacation Details and Excursions List"
            android:parentActivityName=".UI.VacationList" />
        <activity
            android:name=".UI.VacationList"
            android:exported="false"
            android:label="Vacation List"
            android:parentActivityName=".UI.MainActivity" />
        <activity
            android:name=".UI.MainActivity"
            android:exported="true"
            android:label="Main Activity" />
    </application>

</manifest>